      <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">

                     <%= image_tag("logo_univento-01.svg", :alt => "Logo Univento", :style => "width: auto; height: 30px; max-width:100px; margin-top: -7px;") %>
                </a>
               
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                    <% if user_signed_in? %>
                    <li><p class="navbar-text pull-right">
                     
                      <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <% if session[:image].present? %>
                       <img alt="Assets" src= <%=session[:image]%> class="img-responsive img-circle">  <%= session[:name] %><i class="fa fa-caret-down"></i>
                       <% else %>
                            <i class="fa fa-user fa-fw"></i> <%= session[:name] %> <i class="fa fa-caret-down"></i>
                       <% end %>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <%= link_to ' Definições', edit_user_registration_path, :class => 'fa fa-gear fa-fw' %> 


                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'fa fa-sign-out fa-fw'  %>
                        </li>
                        
                    </ul>
              <!-- /.dropdown-user -->
                </li>
                      </p></li>
                    <% else %>
                    <li><p class="navbar-text pull-right">

                    <a href="" data-toggle="modal" data-target="#myModal">REGISTAR</a>|
                    <a href="" data-toggle="modal" data-target="#loginModel">ENTRAR</a>
                            
                    <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Registar</button>-->
                        <!-- Modal -->
                       
                     <!-- <%= link_to "Registar", new_user_path, :class => 'navbar-link'  %> |-->
                    <!--  <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %> -->
                       
                      </p></li>
                    <% end %>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
    </div>
    <!-- /#wrapper -->

     <div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form class="new_user" id="new_user" action="/user" accept-charset="UTF-8" method="post">
                                    <input name="utf8" value="✓" type="hidden">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Registar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Primeiro Nome</span>
                                                <input name="first_name" id="first_name" value="" class="form-control" placeholder="" type="text" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Último Nome</span>
                                                 <input name="last_name" id="last_name" value="" class="form-control" placeholder="" type="text" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">E-mail</span>
                                                <input class="form-control" placeholder="" value="" name="user[email]" id="user_email" type="email" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Password</span>
                                                <input class="form-control" placeholder="" name="user[password]" id="user_password" type="password" aria-describedby="basic-addon1">
                                            </div>
                                    <div class="input-group">
                                            <div class="form_row">
                                                <% [ 'Sexo Masculino',' Sexo Feminino'].each do |gender| %>
                                                <br><%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                                                    <%= gender %>
                                                <% end %>
                                            </div>
                                            </div>
                                            <label>Data de nascimento:</label><br>
                                                <%=  date_select("birthday", "birthday", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br><br>
                                            <a href="/users/auth/facebook" class="fb-login-button">Sign up with Facebook</a>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                             <input name="commit" value="Submeter" class="btn btn-primary active" type="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="modal fade" id="loginModel"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                    <input name="utf8" value="✓" type="hidden">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">ENTRAR</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">E-mail</span>
                                                <input autofocus="autofocus" value="" name="user[email]" id="user_email" type="email" class="form-control" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Password</span>
                                                <input autocomplete="off" name="user[password]" id="user_password" type="password" class="form-control" aria-describedby="basic-addon1">
                                            </div>
                                          <!--  <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="false"></div> -->
                                            <a href="/users/auth/facebook" class="fb-login-button">Sign in with Facebook</a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                            <input name="commit" value="Log in" type="submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=548043568677408";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
