      
      <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img src="assets/images/logo_univento-01.svg" class="img-responsive" alt="Logo Univento" style="width: auto; height: 30px; max-width:100px; margin-top: -7px;">
                </a>
                
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                    <% if user_signed_in? %>
                    <li><p class="navbar-text pull-right">
                     <!-- <img alt="Assets" src= <%=session[:image]%> ><br>-->
                     
                      <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <%= @name %> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> Meu Perfil</a>

                        </li>-->
                        <li>
                            <%= link_to ' Definições', edit_user_registration_path, :class => 'fa fa-gear fa-fw' %> 
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'fa fa-sign-out fa-fw'  %>
                        </li>
                        
                    </ul>
              <!-- /.dropdown-user -->
                </li>
                      </p></li>
                    <% else %>
                    <li><p class="navbar-text pull-right">
                      <%= link_to "Registar", new_user_path, :class => 'navbar-link'  %> |
                      <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
                       
                      </p></li>
                    <% end %>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Pesquisar Evento">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i> Local<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">preencher</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-graduation-cap"></i> Instituição<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">FEUP</a>
                                </li>
                                <li>
                                    <a href="#">FAUP</a>
                                </li>
                                <li>
                                    <a href="#">FDUP</a>
                                </li>
                                <li>
                                    <a href="#">ISEP</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar"></i> Data<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">preencher</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list-ul"></i> Categoria<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">preencher</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bullhorn"></i> Promotor<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">preencher</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" id="slideshow">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="imgs/slide1.jpg" alt="#">
                            </div>

                            <div class="item">
                                <img src="imgs/slide2.jpg" alt="#">
                            </div>

                            <div class="item">
                                <img src="imgs/slide3.jpg" alt="#">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" id="eventos">
                <div class="col-sm-15 col-md-12">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        Cria conta e personaliza os eventos sugeridos consoante os teus gostos

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Registar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Registar</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Primeiro Nome</span>
                                            <input type="firstname" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Último Nome</span>
                                            <input type="lastname" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">E-mail</span>
                                            <input type="email" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Password</span>
                                            <input type="password" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                        </div>
<div class="input-group">
                                        <div class="form-group">
                                            <div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="male" data-fv-field="gender"> Sexo Masculino
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="gender" value="female" data-fv-field="gender"> Sexo Feminino
                                                    </label>
                                                </div>
                                                
                                            </div>
                                        </div></div>






                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                        <button type="button" class="btn btn-primary">Submeter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-15 col-md-12">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                </div>
                <div class="col-sm-6 col-md-2" id="evento">
                    <div class="thumbnail">
                        <img src="imgs/e1.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e2.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e3.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e4.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e5.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e6.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e7.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e8.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e9.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e1.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e2.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e3.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e4.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e5.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e6.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e7.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e8.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e9.jpg" alt="#">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div style='overflow:hidden;height:300px;width:550px;'>
                        <div id='gmap_canvas' style='height:300px;width:550px;'></div>
                        <style>
                            #gmap_canvas img {
                                max-width: none!important;
                                background: none!important
                            }
                        </style>
                    </div> <a href='http://maps-generator.com/pt'>Maps-Generator</a>
                    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=2ac96f7bb0bada1a9fa29f103625ac357a3cf2ff'></script>
                    <script type='text/javascript'>
                        function init_map() {
                            var myOptions = {
                                zoom: 12,
                                center: new google.maps.LatLng(41.1579438, -8.629105299999992),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                            marker = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(41.1579438, -8.629105299999992)
                            });
                            infowindow = new google.maps.InfoWindow({
                                content: '<strong>Univento</strong><br><br> Porto<br>'
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });
                            infowindow.open(map, marker);
                        }
                        google.maps.event.addDomListener(window, 'load', init_map);
                    </script>
                </div>

                <div class="col-sm-12 col-md-6">
                    <button type="button" class="btn btn-primary" id="btn-lgg" data-toggle="modal" data-target="#myModal">
                        A decorrer
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-lgg" data-toggle="modal" data-target="#myModal">
                        Dentro de 1h
                    </button>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="bs-glyphicons">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="bs-glyphicons">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
