      
      <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                                <%= form_tag search_event_index_path, :method => 'get' do %>
                                <%= text_field_tag :search, params[:search] %>
                                <%= submit_tag "Search" %>
                                <% end %>
                            
                        </li>
                       
                        <li>
                            <a href="#"><i class="fa fa-graduation-cap"></i> Instituição<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">FEUP</a>
                                </li>
                                <li>
                                    <a href="#">FAUP</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar"></i> Data<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Hoje</a>
                                </li>
                                <li>
                                    <a href="#">Amanhã</a>
                                </li>
                                 <li>
                                    <a href="#">Próxima Semana</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list-ul"></i> Categoria<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                     

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper-homepage">
            <div class="row">
                <div class="col-lg-12" id="slideshow">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="imgs/slide1.jpg" alt="#">
                            </div>

                            <div class="item">
                                <img src="imgs/slide2.jpg" alt="#">
                            </div>

                            <div class="item">
                                <img src="imgs/slide3.jpg" alt="#">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" id="eventos">
                <div class="col-sm-15 col-md-12">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        Cria conta e personaliza os eventos sugeridos consoante os teus gostos

                    </div>

                </div>
                <div class="col-sm-15 col-md-12">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                </div>
                <div class="col-sm-6 col-md-2" id="evento">
                    <div class="thumbnail">
                        <img src="imgs/e1.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e2.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e3.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e4.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e5.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e6.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e7.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e8.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e9.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e1.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e2.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e3.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e4.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e5.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e6.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e7.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e8.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="imgs/e9.jpg" alt="#">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div style='overflow:hidden;height:300px;width:550px;'>
                        <div id='gmap_canvas' style='height:300px;width:550px;'></div>
                        <style>
                            #gmap_canvas img {
                                max-width: none!important;
                                background: none!important
                            }
                        </style>
                    </div> <a href='http://maps-generator.com/pt'>Maps-Generator</a>
                    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=2ac96f7bb0bada1a9fa29f103625ac357a3cf2ff'></script>
                    <script type='text/javascript'>
                        function init_map() {
                            var myOptions = {
                                zoom: 12,
                                center: new google.maps.LatLng(41.1579438, -8.629105299999992),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                            marker = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(41.1579438, -8.629105299999992)
                            });
                            infowindow = new google.maps.InfoWindow({
                                content: '<strong>Univento</strong><br><br> Porto<br>'
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });
                            infowindow.open(map, marker);
                        }
                        google.maps.event.addDomListener(window, 'load', init_map);
                    </script>
                </div>

                <div class="col-sm-12 col-md-6">
                    <button type="button" class="btn btn-primary" id="btn-lgg" data-toggle="modal" data-target="#myModal">
                        A decorrer
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-lgg" data-toggle="modal" data-target="#myModal">
                        Dentro de 1h
                    </button>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="bs-glyphicons">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="bs-glyphicons">
                        <ul class="bs-glyphicons-list">
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>

                            <li>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="glyphicon-class">Title</span>
                            </li>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

     <div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form class="new_user" id="new_user" action="/user" accept-charset="UTF-8" method="post">
                                    <input name="utf8" value="✓" type="hidden">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Registar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Primeiro Nome</span>
                                                <input name="first_name" id="first_name" value="" class="form-control" placeholder="" type="text" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Último Nome</span>
                                                 <input name="last_name" id="last_name" value="" class="form-control" placeholder="" type="text" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">E-mail</span>
                                                <input class="form-control" placeholder="" value="" name="user[email]" id="user_email" type="email" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Password</span>
                                                <input class="form-control" placeholder="" name="user[password]" id="user_password" type="password" aria-describedby="basic-addon1">
                                            </div>
                                    <div class="input-group">
                                            <div class="form_row">
                                                <% [ 'Sexo Masculino',' Sexo Feminino'].each do |gender| %>
                                                <br><%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                                                    <%= gender %>
                                                <% end %>
                                            </div>
                                            </div>
                                            <label>Data de nascimento:</label><br>
                                                <%=  date_select("birthday", "birthday", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br><br>								
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                             <input name="commit" value="Submeter" class="btn btn-primary active" type="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="modal fade" id="loginModel"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                    <input name="utf8" value="✓" type="hidden">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">ENTRAR</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">E-mail</span>
                                                <input autofocus="autofocus" value="" name="user[email]" id="user_email" type="email" class="form-control" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Password</span>
                                                <input autocomplete="off" name="user[password]" id="user_password" type="password" class="form-control" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                       
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                            <input name="commit" value="Log in" type="submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=548043568677408";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
