<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/jquery-gmaps-latlon-picker.css"/>
<script src="/jquery-gmaps-latlon-picker.js"></script>
<script src="/ckeditor.js"></script>
<script src="/evento.js"></script>


<div id="wrapper">
  <div id="page-wrapper">
    <div class="row row-centered clearfix center" id="newevento">
      <h1 class="text-center">Editar Evento</h1>
      <hr>
      <%= form_for(@event,:url => "/event/"<<params[:id] , :authenticity_token => true, :html => { :multipart => true }) do |f| %>
      
      <%if @associacoes.present? %>
      <div class="form_row">
                <label>Propor Evento para:</label>
                <% @associacoes.each do |promoter| %>
                  <br><%= radio_button_tag 'promoter', promoter, @promoter == promoter, :checked => true %>
                  <%= promoter %>
                <% end %>
            </div>
      <% end -%>
      <br>

      <div class="row">
        <!-- Event Name -->
        <div class="col-md-5">
          <div class="form-group" id="title_box">
           <label class="label_fn control-label" for="event_name">Título</label>
           <%= f.text_field :name, class: "input_fn form-control" %>
            <% if @event.errors[:name].any? %>
           <span class="error"><%= @event.errors[:name].first %></span>
           <% end %>
         </div>
       </div>

       <!-- Event Price -->
       <div class="col-md-5 column">
        <div class="form-group">
         <label class="label_fn control-label" for="event_tprice">Preço Total</label>
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-eur"></i></span>
         <%= f.number_field :preco, :in => 0..999, :step => 0.01, class: "input_fn form-control" %>
       </div>
         <% if @event.errors[:preco].any? %>
         <span class="error"><%= @event.errors[:preco].first %></span>
         <% end %>
       </div>
     </div>
   </div><!-- row end-->

   <div class="row">
    <!-- Event Description -->
    <div class="col-md-5 column">
      <div class="form-group">
       <label class="label_fn control-label" for="event_name">Descrição</label>
      
       <%= f.text_area :descrition, class: "form-control"%>
        <% if @event.errors[:descrition].any? %>
       <span class="error"><%= @event.errors[:descrition].first %></span>
       <% end %>
     </div>
   </div>
  <!-- Active Date -->
  <div class="col-md-5 column">
    <div class="form-group">
      <label class="label_fn control-label" for="data_inicio">Data de Activação</label>
      <div class='input-group date' id=''>
        <input type='text' class="form-control" name="activeDate" value="<%=@event.activeDate%>"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 column">
    <label for="category">Categoria</label>
    <fieldset>
      <input type='hidden' id="eventCategory" value="<%=@event.categoryID%>"/>
      <input type='hidden' id="eventTags" value="<%=@event.tags.pluck(:tagsID)%>"/>
      <legend class="cat"><%= select_tag 'category', options_from_collection_for_select(@category, "categoryID", "name") %></legend>
      <% @category.each_with_index do |category,index| %>
        <% if index > 0%>
          <span id="catID_<%=category.categoryID%>" class="cat_options" style="display: none;">
        <% else %>
          <span id="catID_<%=category.categoryID%>" class="cat_options">
        <% end %>
          <h6 for="tag"><strong>Aviso:</strong> Só pode selecionar 3 categorias de  <%= category.name %>.</h6>
          <% category.tags.each do |tag| %>
          <%= check_box_tag 'tags[]', tag.tagsID, @tag == tag %>
          <%= tag.name %>
          <% end %>
        </span>
      <% end %>
    </fieldset>
  </div>

</div><!-- row end-->
<br>

 <h3 id="reference" name="reference" class="heading-reference">Youtube e Spotify</h3>
  <hr>

<div class="row">
  <div class="col-md-8">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube"></i></span>
        <%= text_field_tag 'youtube[]', @youtube, class: 'form-control', :placeholder=>"Insira um url do youtube" %>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-spotify"></i></span>
      <%= text_field_tag 'spotify[]', @spotify, class: 'form-control', :placeholder=>"Insira o url da playlist spotify" %>
    </div>
  </div>
</div><!-- row end-->

<% @event.eventdate.each_with_index do |link, index| %>
  <div id="entry<%=index%>" class="clonedInput">
    <h2 id="reference" name="reference" class="heading-reference"><%=(index+1)%> º Dia</h2>
    <hr>
    <fieldset>

      <div class="row">
        <!-- Beginning Date -->
        <div class="col-md-5 column">
          <div class="form-group">
            <label class="label_fn control-label" for="data_fim">Data de início</label>
            <div class='input-group date' id=''>
              <input type='text' class="form-control" name="dates[<%=index%>][startDate]" value="<%= link.startDate %>"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <!-- End Date -->
        <div class="col-md-5 column">
          <div class="form-group">
            <label class="label_fn control-label" for="data_fim">Data de fim</label>
            <div class='input-group date' id=''>
              <input type='text' class="form-control" name="dates[<%=index%>][endDate]" value="<%= link.endDate %>"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Event Price -->
        <div class="col-md-2 column">
          <div class="form-group">
           <label class="label_fn control-label" for="event_price">Preço</label>
            <div class="input-group">
         <span class="input-group-addon" id="basic-addon1"><i class="fa fa-eur"></i></span>
           <%= number_field_tag 'price[]',link.preco, :in => 0..999, :step => 0.01, :class=>"form-control" %>
         </div>
           <% if @event.errors[:preco].any? %>
           <span class="error"><%= @event.errors[:preco].first %></span>
           <% end %>
         </div>
       </div>
     </div>

     <div class="row">
      <!-- Place -->
      <div class="col-md-10 column">
        <div class="form-group">
         <label class="label_fn control-label" for="event_local">Local</label>
         <fieldset class="gllpLatlonPicker" id="map<%= index.to_s%>">
           <div class="row">
            <div class="col-md-8">
          <input name="dates[<%=index%>][address]" value="<%= link.local.address %>" type="text" class="gllpSearchField form-control">
           </div>
           <div class="col-md-2">
          <input type="button" class="gllpSearchButton btn btn-default" value="search">
        </div>
      </div>
      <br>
          <div class="gllpMap">Google Maps</div>
          <input name="dates[<%=index%>][latitude]" type="hidden" class="gllpLatitude" value="<%= link.local.latitude %>"/>
          <input name="dates[<%=index%>][longitude]" type="hidden" class="gllpLongitude" value="<%= link.local.longitude %>"/>
          <input type="hidden" class="gllpZoom" value="12"/>
        </fieldset> 
      </div>
    </div>
  </div><!-- row end-->

  <div class="row">
    <!-- Place -->
    <div class="col-md-10 column">
      <label class="label_fn control-label" for="event_local">Insira uma descrição detalhada</label>
      <%= cktext_area :page, "info"<<index.to_s, :value => link.descrition, :ckeditor => {:uiColor => '#ffffff', :toolbar => 'mini'} %>
    </div>
  </div><!-- row end-->
  </div><!-- end #entry1 -->
<% end -%>
<!-- Button (Double) -->
<br>
<div class="row" id="btnEvent">
  <div class="col-md-12 column">
  <button type="button" id="btnAdd" name="btnAdd" class="btn fa fa-plus"></button>
    &nbsp;
  <button type="button" id="btnDel" name="btnDel" class="btn fa fa-minus"></button>
</div>
</div>
<br>
<div class="field">

   <h4><i class="fa fa-file-image-o"></i> Imagens</h4>

      <hr>

  <h6 for="tag"><strong>Atenção:</strong> As imagens inseridas anteriormente serão apagadas.</span></h6>

  <div class="row">
  <label>Imagem de capa</label>
  <br>
  <div class="fileUpload btn">
  <%= f.file_field :image, :multiple => false, name: "image[image][]" %>
</div>
</div>
  <br>
<div class="row">
  <label>Images para a galeria (máx.8)</label>
  <br>
  <div class="fileUpload btn">
  <%= f.file_field :image, :multiple => true, name: "image[image][]" %>
</div>
</div>
</div>
<br>
<div class="row">
  <%= f.submit'Atualizar', :class => 'btn btn-default', :id => 'sub' %>
 <br>
</div>
<% end %>

<!-- Button
<p>
  <button id="submit_button" name="submit_button" class="btn btn-primary">Submit</button>
</p> -->

</fieldset>
</form>

</div> <!-- end attribution -->
</div> <!-- end wrapper -->
</div>