Events DB CONNECTION results
<br>
<h1>List of Events:</h1>
<br>
Showing <%= @showCount %> of <%= @listCount %> events
<br>
from event <%= @startCount+1 %> to <%= @endcount+1 %>
<br><br>
Page <%= @page %> of <%= @maxPage %>
<br><br>

|<% for i in 1..@pagesLinks.length %>
  <%= link_to i, @pagesLinks[i-1] %>
|<% end %>

<br><br>

<table border="1">
  <tr>
    <th>eventID</th>
    <th>name</th>
    <th>descrition</th>
    <th>priceTot</th>
    <th>promoter</th>
    <th>institution</th>
    <th>averageRate</th>
    <th>category</th>
    <th>tags</th>
    <th>youtube</th>
    <th>spotify</th>
    <th>images</th>
    <th>start</th>
    <th>end</th>
    <th>price</th>
    <th>local</th>
    <th>coords</th>
    <th colspan="3"></th>
  </tr>
  
  <% @eventDates.each do |eventDate| %>
    <tr>
      <td><%= eventDate.event.eventID %></td>
      <td><%= link_to eventDate.event.name, event_path(eventDate.event) %></td>
      <td><%= eventDate.event.descrition %></td>
      <td><%= eventDate.event.preco %></td>
      <td><%= link_to eventDate.event.promoter.name, promoter_path(eventDate.event.promoter) %></td>
      <td><%= eventDate.event.promoter.institution %></td>
      <td><%= eventDate.event.averageRate %></td>
      <td><%= eventDate.event.category.name %></td>
      <td>
        <% eventDate.event.tags.each do |tag| %>
            <%= tag.name %><br>
        <% end %>
      </td>
      <td>
        <% eventDate.event.youtube.each do |youtube| %>
          <%= link_to youtube.videoID, youtube.videoID %><br>
        <% end %>
      </td>
      <td>
        <% eventDate.event.spotify.each do |spotify| %>
          <%= link_to spotify.playListLink, spotify.playListLink %><br>
        <% end %>
      </td>
      <td>
        <% eventDate.event.image.each do |image| %>
          <%= image.image%><br>
        <% end %>
      </td>
      <td>
        <%= eventDate.startDate %>
      </td>
      <td>
        <%= eventDate.endDate %>
      </td>
      <td>
        <%= eventDate.preco %> €
      </td>
      <td>
        <%= eventDate.local.address %>
      </td>
      <td>
        lat: <%= eventDate.local.latitude %> long: <%= eventDate.local.longitude %>
      </td>
    </tr>
  <% end %>
</table>

<br>

|<% for i in 1..@pagesLinks.length %>
  <%= link_to i, @pagesLinks[i-1] %>
|<% end %>

<br>