<h1>New Event</h1>

<!--<script src="/jquery-2.1.1.min.js"></script>-->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/jquery-gmaps-latlon-picker.css"/>
<script src="/jquery-gmaps-latlon-picker.js"></script>
<%= form_for(@event,:url => '/event', :authenticity_token => true, :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :name %><br>
      <% if @event.errors[:name].any? %>
      <div class="btn btn-danger">
      <%= @event.errors[:name].first %>
      </div>
    <% end %><br>
    <%= f.text_field :name %>
  </p>
 <p>
    <%= f.label 'Preco Total' %><br>
      <% if @event.errors[:preco].any? %>
      <div class="btn btn-danger">
      <%= @event.errors[:preco].first %>
      </div>
    <% end %><br>
    <%= f.number_field :preco , :in => 0..999, :step => 0.01%><br>
  </p>
  <p>
    <%= f.label :descrition %>
    <% if @event.errors[:descrition].any? %>
      <div class="btn btn-danger">
      <%= @event.errors[:descrition].first %>
      </div>
    <% end %><br>
    <%= f.text_area :descrition %>
  </p>
  <p>
    Escolha a data a partir do qual o evento fica activo:
    <%=  datetime_select("activeDate", "activeDate", order: [:day, :month, :year], start_year: Time.now.year, end_year: Time.now.year+2) %>
  </p> 
  <div class="">
    <label for="category">Escolha a categoria:</label>
      <% @category.each do |category| %>
        <br>
        <%= radio_button_tag 'category', category.categoryID, @category == category, :checked => true %>
        <strong><%= category.name %></strong>
        <div class="">
        <strong>ISTO TEM DE ESTAR HIDDEN E SÓ APARECE PARA A CATEGORIA QUE ESTIVER SELECIONADA</strong>
          <p for="tag">Escolha até 3 tags da categoria  <%= category.name %>:</p>
            <% category.tags.each do |tag| %>
              <%= check_box_tag 'tags[]', tag.tagsID, @tag == tag %>
              <%= tag.name %>
            <% end %>
        </div>
      <% end %>
  </div>

  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
    <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>
  <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>
  <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>



  <p>DATa1<br>
    <%= label_tag 'Start Data' %><br>
    <%=  datetime_select("dates[0]", "startDate", order: [:day, :month, :year], start_year: Time.now.year, end_year: Time.now.year+2) %><br>
    <%= label_tag 'End Data' %><br>
    <%=  datetime_select("dates[0]", "endDate", order: [:day, :month, :year], start_year: Time.now.year, end_year: Time.now.year+2) %><br>
    <%= label_tag 'Preco' %><br>
    <%= number_field_tag 'price[]',nil , :in => 0..999, :step => 0.01%><br>
    <strong>Escolha o local: </strong>
    <fieldset class="gllpLatlonPicker" id="map0">
      <input name="dates[0][address]" value="Porto" type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <div class="gllpMap">Google Maps</div>
      <input name="dates[0][latitude]" type="hidden" class="gllpLatitude" value="41.1579438"/>
      <input name="dates[0][longitude]" type="hidden" class="gllpLongitude" value="-8.629105299999992"/>
      <input type="hidden" class="gllpZoom" value="12"/>
    </fieldset> 

    <%= cktext_area :page, :info0, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </p>
    <p>DATa2<br>
    <%= label_tag 'Start Data' %><br>
    <%=  datetime_select("dates[1]", "startDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'End Data' %><br>
    <%=  datetime_select("dates[1]", "endDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'Preco' %><br>
    <%= number_field_tag 'price[]',nil , :in => 0..999, :step => 0.01%><br>
    <strong>Escolha o local: </strong>
    <fieldset class="gllpLatlonPicker" id="map1">
      <input name="dates[1][address]" value="Porto" type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <div class="gllpMap">Google Maps</div>
      <input name="dates[1][latitude]" type="hidden" class="gllpLatitude" value="41.1579438"/>
      <input name="dates[1][longitude]" type="hidden" class="gllpLongitude" value="-8.629105299999992"/>
      <input type="hidden" class="gllpZoom" value="12"/>
    </fieldset> 

    <%= cktext_area :page, :info1, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </p>
  <h2>Images</h2>
  
  <div class="field">
    <%= f.file_field :image, :multiple => true, name: "image[image][]" %>
  </div>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>