<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/jquery-gmaps-latlon-picker.css"/>
<script src="/jquery-gmaps-latlon-picker.js"></script>
<script src="/ckeditor.js"></script>
<script src="/evento.js"></script>

<div id="wrapper">
  <div id="page-wrapper">
    <div class="row row-centered clearfix" id="newevento">
      <h1 class="text-center">Criar Evento</h1>
      <hr>
      <!--<form action="#" method="post" id="sign-up_area" role="form">-->
      <%= form_for(@event,:url => '/event', :authenticity_token => true, :html => { :multipart => true }) do |f| %>
      
      <%if @associacoes.present? %>
      <div class="form_row">
                <label for="gender">Propor Evento para:</label>
                <% @associacoes.each do |promoter| %>
                  <br><%= radio_button_tag 'promoter', promoter, @promoter == promoter, :checked => true %>
                  <%= promoter %>
                <% end %>
            </div>
      <% end -%>
      <br>

      <div class="row">
        <!-- Event Name -->
        <div class="col-md-6 column">
          <div class="form-group">
           <label class="label_fn control-label" for="event_name">Título:</label>
           <% if @event.errors[:name].any? %>
           <div class="btn btn-danger"><%= @event.errors[:name].first %></div>
           <% end %><br>
           <%= f.text_field :name, class: "input_fn form-control" %>
         </div>
       </div>

       <!-- Event Price -->
       <div class="col-md-2 column">
        <div class="form-group">
         <label class="label_fn control-label" for="event_tprice">Preço Total:</label>
         <% if @event.errors[:preco].any? %>
         <div class="btn btn-danger"><%= @event.errors[:preco].first %></div>
         <% end %><br>
         <%= f.number_field :preco, :in => 0..999, :step => 0.01, class: "input_fn form-control" %>
       </div>
     </div>
   </div><!-- row end-->

   <div class="row">
    <!-- Event Description -->
    <div class="col-md-8 column">
      <div class="form-group">
       <label class="label_fn control-label" for="event_name">Descrição:</label>
       <% if @event.errors[:descrition].any? %>
       <div class="btn btn-danger"><%= @event.errors[:descrition].first %></div>
       <% end %><br>
       <%= f.text_area :descrition, class: "form-control" %>
     </div>
   </div>
 </div><!-- row end-->

 <div class="row">
  <!-- Active Date -->
  <div class="col-md-4 column">
    <div class="form-group">
      <label class="label_fn control-label" for="data_inicio">Data da partir da qual o evento fica ativo:</label>
      <div class='input-group date' id=''>
        <input type='text' class="form-control" name="activeDate"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 column">
    <label for="category">Escolha a categoria:</label>
    <fieldset>
      <legend><%= select_tag 'category', options_from_collection_for_select(@category, "categoryID", "name") %></legend>
      <% @category.each_with_index do |category,index| %>
        <% if index > 0%>
          <span id="catID_<%=category.categoryID%>" class="cat_options" style="display: none;">
        <% else %>
          <span id="catID_<%=category.categoryID%>" class="cat_options">
        <% end %>
          <h6 for="tag">Escolha até 3 tags da categoria  <%= category.name %>:</h6>
          <% category.tags.each do |tag| %>
          <%= check_box_tag 'tags[]', tag.tagsID, @tag == tag %>
          <%= tag.name %>
          <% end %>
        </span>
      <% end %>
    </fieldset>
  </div>

</div><!-- row end-->
<br>
<div class="row">
  <div class="col-md-8">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube"></i></span>
      <%= text_field_tag 'youtube[]', nil, class: 'form-control', :placeholder=>"Insira um link do youtube" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-spotify"></i></span>
      <%= text_field_tag 'spotify[]', nil, class: 'form-control', :placeholder=>"Insira um link do spotify" %>
    </div>
  </div>
</div><!-- row end-->

<div id="entry0" class="clonedInput">
  <h2 id="reference" name="reference" class="heading-reference">Data #1</h2>
  <fieldset>

    <div class="row">
      <!-- Beginning Date -->
      <div class="col-md-4 column">
        <div class="form-group">
          <label class="label_fn control-label" for="data_fim">Data de início:</label>
          <div class='input-group date' id=''>
            <input type='text' class="form-control" name="dates[0][startDate]"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <!-- End Date -->
      <div class="col-md-4 column">
        <div class="form-group">
          <label class="label_fn control-label" for="data_fim">Data de fim:</label>
          <div class='input-group date' id=''>
            <input type='text' class="form-control" name="dates[0][endDate]"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Event Price -->
      <div class="col-md-2 column">
        <div class="form-group">
         <label class="label_fn control-label" for="event_price">Preço:</label>
         <% if @event.errors[:preco].any? %>
         <div class="btn btn-danger"><%= @event.errors[:preco].first %></div>
         <% end %><br>
         <%= number_field_tag 'price[]',nil , :in => 0..999, :step => 0.01%><br>
       </div>
     </div>
   </div>

   <div class="row">
    <!-- Place -->
    <div class="col-md-8 column">
      <div class="form-group">
       <label class="label_fn control-label" for="event_local">Escolha o Local:</label>
       <fieldset class="gllpLatlonPicker" id="map0">
        <input name="dates[0][address]" value="Porto" type="text" class="gllpSearchField form-control">
        <input type="button" class="gllpSearchButton btn btn-default" value="search">
        <div class="gllpMap">Google Maps</div>
        <input name="dates[0][latitude]" type="hidden" class="gllpLatitude" value="41.1579438"/>
        <input name="dates[0][longitude]" type="hidden" class="gllpLongitude" value="-8.629105299999992"/>
        <input type="hidden" class="gllpZoom" value="12"/>
      </fieldset> 
    </div>
  </div>
</div><!-- row end-->

<div class="row">
  <!-- Place -->
  <div class="col-md-8 column">
    <label class="label_fn control-label" for="event_local">Insira uma descrição detalhada:</label>
    <%= cktext_area :page, :info0, :cols => 40, :ckeditor => {:uiColor => '#ffffff', :toolbar => 'mini'} %>
  </div>
</div><!-- row end-->
</div><!-- end #entry1 -->

<!-- Button (Double) -->
<p>
  <button type="button" id="btnAdd" name="btnAdd" class="btn btn-info">Adicionar Dia</button>
  <button type="button" id="btnDel" name="btnDel" class="btn btn-danger">Remover dia acima</button>
</p>
<br><br>
<div class="field">
  <h2>Imagens</h2>
  <label>Inserir imagem de capa</label>
  <%= f.file_field :image, :multiple => false, name: "image[image][]" %>
  <br>
  <label>Inserir images para exibir na galeria</label>
  <%= f.file_field :image, :multiple => true, name: "image[image][]" %>
</div>
<br>
<p>
  <%= f.submit'Criar Evento', :class => 'btn btn-default' %>
</p>
<% end %>

<!-- Button
<p>
  <button id="submit_button" name="submit_button" class="btn btn-primary">Submit</button>
</p> -->

</fieldset>
</form>

</div> <!-- end attribution -->
</div> <!-- end wrapper -->
</div>
