<!--<script src="/jquery-2.1.1.min.js"></script>-->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/jquery-gmaps-latlon-picker.css"/>
<script src="/jquery-gmaps-latlon-picker.js"></script>
<%= form_for(@event,:url => '/event', :authenticity_token => true, :html => { :multipart => true }) do |f| %>
 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 <p>
    <%= f.label 'Preco Total' %><br>
    <%= f.text_field :preco %>
  </p>
  <p>
    <%= f.label :descrition %><br>
    <%= f.text_area :descrition %>
  </p>
 
  <div class="">
    <label for="category">Escolha a categoria:</label>
      <% @category.each do |category| %>
        <br>
        <%= radio_button_tag 'category', category.categoryID, @category == category, :checked => true %>
        <strong><%= category.name %></strong>
        <div class="">
        <strong>ISTO TEM DE ESTAR HIDDEN E SÓ APARECE PARA A CATEGORIA QUE ESTIVER SELECIONADA</strong>
          <p for="tag">Escolha até 3 tags da categoria  <%= category.name %>:</p>
            <% category.tags.each do |tag| %>
              <%= check_box_tag 'tags[]', tag.tagsID, @tag == tag %>
              <%= tag.name %>
            <% end %>
        </div>
      <% end %>
  </div>

  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
  <p>
    <%= label_tag 'youtube link' %><br>
    <%= text_field_tag 'youtube[]' %>
  </p>
    <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>
  <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>
  <p>
    <%= label_tag 'spotify link' %><br>
    <%= text_field_tag 'spotify[]' %>
  </p>



  <p>DATa1<br>
    <%= label_tag 'Start Data' %><br>
    <%=  datetime_select("dates[0]", "startDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'End Data' %><br>
    <%=  datetime_select("dates[0]", "endDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'Preco' %><br>
    <%= number_field_tag 'price[]',nil , :in => 0..999, :step => 0.01%><br>
    <strong>Escolha o local: </strong>
    <fieldset class="gllpLatlonPicker" id="map0">
      <input name="dates[0][address]" value="Porto" type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <div class="gllpMap">Google Maps</div>
      <input name="dates[0][latitude]" type="hidden" class="gllpLatitude" value="41.1579438"/>
      <input name="dates[0][longitude]" type="hidden" class="gllpLongitude" value="-8.629105299999992"/>
      <input type="hidden" class="gllpZoom" value="12"/>
    </fieldset> 

    <%= cktext_area :page, :info0, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </p>
    <p>DATa2<br>
    <%= label_tag 'Start Data' %><br>
    <%=  datetime_select("dates[1]", "startDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'End Data' %><br>
    <%=  datetime_select("dates[1]", "endDate", order: [:day, :month, :year], start_year: 1900, end_year:2015) %><br>
    <%= label_tag 'Preco' %><br>
    <%= number_field_tag 'price[]',nil , :in => 0..999, :step => 0.01%><br>
    <strong>Escolha o local: </strong>
    <fieldset class="gllpLatlonPicker" id="map1">
      <input name="dates[1][address]" value="Porto" type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <div class="gllpMap">Google Maps</div>
      <input name="dates[1][latitude]" type="hidden" class="gllpLatitude" value="41.1579438"/>
      <input name="dates[1][longitude]" type="hidden" class="gllpLongitude" value="-8.629105299999992"/>
      <input type="hidden" class="gllpZoom" value="12"/>
    </fieldset> 

    <%= cktext_area :page, :info1, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </p>
  <h2>Images</h2>
  
  <div class="field">
    <%= f.file_field :image, :multiple => true, name: "image[image][]" %>
  </div>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>