<div class="container">
    <div class="row">
        <%@events.each do |event|%>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <% if event.image.first.present? %>
                    <a href="<%= event_path(event)%>" class="thumbnail">
                        <%=image_tag event.image.first.image.square , :class => "img-responsive"%>
                    </a>
                <%else%>
                    <%= link_to event.name, event_path(event), :class => "thumbnail" %>
                <%end%>
            </div>
        <%end%>
    </div>
    <div class="row">
        <%= form_tag search_event_index_path, :method => 'post' do %>
            <input type="hidden" name="search" value="<%=params[:search]%>">
            <% if params[:numPage].present? %>
                <input type="hidden" name="numPage" value="<%=params[:numPage]%>">
            <%else%>
                <input type="hidden" name="numPage" value="1">
            <%end%>
            <%= submit_tag "<" , :class => "btn btn-default" %>
            <%= submit_tag ">" , :class => "btn btn-default" %>
        <% end %>
    </div>
</div>