    <link rel="stylesheet" type="text/css" href="/jquery-gmaps-latlon-picker.css"/>
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <div id="wrapper">
        <div class="page-show" id="page-wrapper">
            <!---->
            <div id="blueimp-gallery" class="blueimp-gallery">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="row row-centered" id="show-evento">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="thumbnail">
                        <% if @image.first.present?%>
                        <a href="<%= @image.first.image %>" data-gallery><%= image_tag @image.first.image %></a>
                        <% end -%>
                        <div class="caption text-center">
                            <h5>
                                <ul>
                                    <li><i class="fa fa-user"><a style="color: inherit; text-decoration:none;" href="<%= promoter_url(@event.promoter) %>"> <%= @event.promoter.name %> </a></i> </li>
                                    <li><i class="fa fa-tags"> <%= @event.category.name %></i></li>
                                    <% if @event.tags.length > 0 %>
                                    <li><i class="fa fa-circle-o">
                                    <% @event.tags.each do |link| %> <%= link.name %></i>  <% end %></li>
                                    <%end%>
                                </ul>
                            </h5>
                            <h4><%= @event.preco %>  <i class="fa fa-eur"></i> - Preço total</h4>
                            <% if @event.docsID.present? && Normal.find_by_normalID(current_user.userID).present?%>
                                <div><a id="sub2" class="btn btn-default" href="<%= event_registration_path(@event)%>" role="button">Inscreve-te</a></div>
                            <%elsif !@vai && Normal.find_by_normalID(current_user.userID).present?%>
                                <button id="go" class="btn btn-default"><i class="fa fa-car">Going</i></button>
                            <%end%>
                            <%if user_signed_in? %>
                               <% if @event.promoterID == current_user.userID && !@event.docsID.present? %>
                                <div><a id="sub2" class="btn btn-default" href="<%= event_registration_path(@event)%>" role="button">Criar Formulário de Inscrição</a></div>
                                <%end%>
                                <% if @event.promoterID == current_user.userID && @event.docsID.present? %>
                                <div><a id="sub2" class="btn btn-default" href="<%= event_registration_path(@event)%>" role="button">Ver Inscrições</a></div>
                                <%end%>
                            <% end %>
                            <i class="fa fa-car"> <%= @event.registrations.length %></i>
                            <br>
                            <div class="fb-share-button" data-href=<%= request.original_url %>  data-layout="button_count"></div>
                            
                        </div>
                    </div>
                    <div class="row top-buffer classi text-center" >
                       <h4>Classificação:</h4>  <%= rating_for @event, "event_rate" , space: true , disable_after_rate: false , cancel_place: 'right', cancel_hint: 'Cancel this vote!' %>
                   </div>
                   <!-- VIDEOS YOUTUBE-->
                   <% @event.youtube.each do |video| %>
                   <div class="row top-buffer yt" >
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="player" src="<%= video.videoID %>" width="450" height="280" frameborder="0"></iframe>
                    </div>
                </div>
                <% end %>
                <!-- SPOTIFY -->
                <% @event.spotify.each do |playlist| %>
                <div class="row top-buffer spo" id="embed">
                    <div class="embed-responsive" style="height : 80px">
                        <iframe class="embed-responsive-item" src="<%= playlist.playListLink %>" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>

                <% end %>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">

                <h2><%= @event.name %></h2>
                <p><%= @event.descrition %></p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <% @event.eventdate.each_with_index do |data, index| %>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading<%=index%>">
                            <h4 class="panel-title">
                                <a role="button" class="colapseButton" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index%>" aria-expanded="true" aria-controls="collapse<%=index%>">
                                    <i class="fa fa-calendar"></i>  <%= data.startDate.strftime("%d/%m/%Y - %H:%M") %> <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i> <%= data.endDate.strftime("%d/%m/%Y - %H:%M") %>
                                    <div class="pull-right"><%= data.preco %>  <i class="fa fa-eur"></i></div>
                                </a>
                            </h4>
                        </div>
                        <% if index==0%>
                        <div id="collapse<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%=index%>">
                            <% else %>
                            <div id="collapse<%=index%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=index%>">
                                <% end -%>
                                <div class="panel-body">
                                    <div class="row">
                                        <%= raw (data.descrition) %>
                                        <hr />
                                        <label>Local: </label> <%= data.local.address %> <br>
                                        <div class="google-maps">
                                            <fieldset class="gllpLatlonPicker" id="<%= index%>" >
                                              <input type="hidden" value="<%= data.local.address %>" type="text" class="gllpSearchField">
                                              <input type="button" class="gllpSearchButton" value="search" hidden>
                                              <div class="gllpMap">Google Maps</div>
                                              <input type="hidden" class="gllpLatitude" value="<%= data.local.latitude %>" />
                                              <input type="hidden" class="gllpLongitude" value="<%= data.local.longitude %>" />
                                              <input type="hidden" class="gllpZoom" value="12"/>
                                          </fieldset> 
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <% end %>
                  </div>
              </div>

              <div class="container">
                  <div class="row top-buffer">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="centerBlock">
                            <% @image.each_with_index do |p,k| %>
                            <% if k>0%>
                            <a href="<%= p.image %>" data-gallery>
                                <%= image_tag p.image .square, :class => "img-responsive"%>
                            </a>
                            <% end -%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="top-buffer">
                <div class="fb-comments" data-colorscheme="dark" data-href=<%= request.original_url %>  data-numposts="5"></div>
                <div id="fb-root"></div>
            </div>
        </div>
    </div>
</div>

<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/showEvent.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/jquery-gmaps-latlon-picker.js"></script>