<p>
  <strong>=============== Colaborator Info =======================</strong>
  <br>
  <strong>normalID:</strong>
  <%= @colaborator.normalID %>
  <br>
  <strong>colaborator Name:</strong>
  <%= @colaborator.normal.first_name %> <%= @colaborator.normal.last_name %>
  <br>
  <strong>promoterID:</strong>
  <%= @colaborator.promoterID %>
  <br>
  <strong>promoter name:</strong>
  <%= @colaborator.promoter.name %>
</p>

<p>
  <strong>=============== Inherited Normal =======================</strong>
  <br>
  <strong>birthday:</strong>
  <%= @colaborator.normal.birthday %>
  <br>
  <strong>gender</strong>
  <%= @colaborator.normal.gender %>
</p>

<p>
  <strong>=============== Inherited User =======================</strong>
  <br>
  <strong>userID:</strong>
  <%= @colaborator.normal.user.userID %>
  <br>
  <strong>email:</strong>
  <%= @colaborator.normal.user.email %>
  <br>
  <strong>encrypted_password:</strong>
  <%= @colaborator.normal.user.encrypted_password %>
  <br>
  <strong>password:</strong>
  <%= @colaborator.normal.user.password %>
  <br>
  <strong>admin:</strong>
  <%= @colaborator.normal.user.admin %>
  <br>
  <strong>reset_password_token:</strong>
  <%= @colaborator.normal.user.reset_password_token %>
  <br>
  <strong>reset_password_sent_at:</strong>
  <%= @colaborator.normal.user.reset_password_sent_at %>
  <br>
  <strong>remember_created_at:</strong>
  <%= @colaborator.normal.user.remember_created_at %>
  <br>
  <strong>sign_in_count:</strong>
  <%= @colaborator.normal.user.sign_in_count %>
  <br>
  <strong>current_sign_in_at:</strong>
  <%= @colaborator.normal.user.current_sign_in_at %>
  <br>
  <strong>last_sign_in_at:</strong>
  <%= @colaborator.normal.user.last_sign_in_at %>
  <br>
  <strong>current_sign_in_ip:</strong>
  <%= @colaborator.normal.user.current_sign_in_ip %>
  <br>
  <strong>last_sign_in_ip:</strong>
  <%= @colaborator.normal.user.last_sign_in_ip %>
  <br>
  <strong>provider:</strong>
  <%= @colaborator.normal.user.provider %>
  <br>
  <strong>uid:</strong>
  <%= @colaborator.normal.user.uid %>
</p>