<div class="jumbotron">

    <div class="regist_title">Editar promotor</div>
    <br>

    <%= form_for @user, :url => promoter_path(@user) , method: :patch do |u| %>

        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@user.errors.count, "error") %> prohibited promoter user from being edited:
              </h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
            <strong>Nome</strong>
            <%= text_field_tag :name, @promoter.name, class: 'form-control', :placeholder => 'Nome' %>
        </div>
        <div class="form-group">
            <strong>Instituição</strong>
            <%= text_field_tag :institution, @promoter.institution, class: 'form-control', :placeholder => 'Instituição' %>
        </div>
        <div class="form-group">
            <strong>Website</strong>
            <%= text_field_tag :website, @promoter.website, class: 'form-control', :placeholder => 'Website'%>
        </div>
        <div class="form-group">
            <strong>Email de Contato</strong>
            <%= text_field_tag :contact, @promoter.contact, class: 'form-control', :placeholder => 'Contacto'%>
        </div>

        <br>Credenciais do Promotor<br>

        <div class="form-group">
            <%= u.email_field :email, :class => 'form-control', :placeholder => 'E-mail'%>
        </div>
        <div class="form-group">
            <%= u.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
        </div>
        <br>

        <%= u.submit 'Submeter', :class => 'btn btn-primary active' %>
    <% end %>

    <br><%= link_to 'Mudar Credenciais', root_path+"users/edit" %><br>

    <br><%= link_to "Back", :back %><br>
</div>