Promoter DB CONNECTION results
<br><br>
List of Promoters:
<br><br>

<table border="1">
  <tr>
    <th>promoterID</th>
    <th>institution</th>
    <th>name</th>
    <th>website</th>
    <th>contact</th>
    <th colspan="3"></th>
  </tr>
  <% @promoters.each do |promoter| %>
    <tr>
      <td><%= promoter.promoterID %></td>
      <td><%= promoter.institution %></td>
      <td><%= link_to promoter.name, promoter_path(promoter) %></td>
      <td><a href="<%= promoter.website %>">Web Site</a></td>         <%# website must be in URL format in DB %>
      <td><%= promoter.contact %></td>
    </tr>
  <% end %>
</table>




<% if false %>

<table border="1">
  <tr>
    <th>userID</th>
    <th>email</th>
    <th>promoterID</th>
    <th>institution</th>
    <th>name</th>
    <th>website</th>
    <th>contact</th>
    <th colspan="3"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.userID %></td>
      <td><%= user.email %></td>
      <td><%= user.promoter.promoterID %></td>
      <td><%= user.promoter.institution %></td>
      <td><%= user.promoter.name %></td>
      <td><%= user.promoter.website %></td>
      <td><%= user.promoter.contact %></td>
    </tr>
  <% end %>
</table>

<% end %>