      
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search glowing-border">
                        <%= form_tag search_event_index_path, :method => 'post' do %>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag "Search" %>
                        <% end %>

                    </li>

                    <li>
                        <%= link_to 'Criar Evento', root_path+"event/new" %>
                       
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <%= link_to 'Novo Colaborador', new_colaborator_path %>
                        
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <%= link_to 'Colaboradores', "#" %>
                    </li>


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper-homepage">
  
  <% if @owner %>
    <%= link_to 'Editar Promotor', root_path+"promoter/"+@user.promoter.promoterID.to_s+"/edit" %>
    <br><%= link_to 'Mudar Credenciais', root_path+"users/edit" %><br>
  <% end %>


<% if user_signed_in? && current_user.admin %>
  <p>
    <strong>=============== <%= link_to "Inherited User", user_path(@promoter.user) %>  =======================</strong>

    <h1 class="text-center">Criar Evento</h1>
      <hr>
    <br>
    <strong>userID:</strong>
    <%= @user.userID %>
    <br>
    <strong>email:</strong>
    <%= mail_to @user.email, @user.email %>
    <br>
    <strong>encrypted_password:</strong>
    <%= @user.encrypted_password %>
    <br>
    <strong>password:</strong>
    <%= @user.password %>
    <br>
    <strong>admin:</strong>
    <%= @user.admin %>
    <br>
    <strong>reset_password_token:</strong>
    <%= @user.reset_password_token %>
    <br>
    <strong>reset_password_sent_at:</strong>
    <%= @user.reset_password_sent_at %>
    <br>
    <strong>remember_created_at:</strong>
    <%= @user.remember_created_at %>
    <br>
    <strong>sign_in_count:</strong>
    <%= @user.sign_in_count %>
    <br>
    <strong>current_sign_in_at:</strong>
    <%= @user.current_sign_in_at %>
    <br>
    <strong>last_sign_in_at:</strong>
    <%= @user.last_sign_in_at %>
    <br>
    <strong>current_sign_in_ip:</strong>
    <%= @user.current_sign_in_ip %>
    <br>
    <strong>last_sign_in_ip:</strong>
    <%= @user.last_sign_in_ip %>
    <br>
    <strong>provider:</strong>
    <%= @user.provider %>
    <br>
    <strong>uid:</strong>
    <%= @user.uid %>
  </p>
<% end %>

<% if @owner %>
  <strong>=============== Colaboradores =======================</strong>

  <% if @colaborators.length != 0 && @owner %>
    <br><br>
    <table border="1">
      <tr>
        <th>normalID</th>
        <th>colaborator Name</th>
        <th>promoterID</th>
        <th>promoter Name</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
      <% @colaborators.each do |colaborator| %>
        <tr>
          <td><%= colaborator.normalID %></td>
          <td><%= link_to (colaborator.normal.first_name+" "+colaborator.normal.last_name), colaborator_path(colaborator.normal) %></td>
          <td><%= colaborator.promoterID %></td>
          <td><%= link_to colaborator.promoter.name, promoter_path(colaborator.promoter) %></td>
          <td><%= button_to "Despromover", root_path+"colaborator/"+colaborator.normalID.to_s, data: { confirm: "Tem a certeza?", id: colaborator.normalID.to_s }, method: :delete %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <br>Não existem colaboradores<br>
  <% end %>

  <br><br>
<% end %>

<br>

<h4 class="text-center">Eventos Activos</h4>
<% if @shownEventDates.length != 0 %>
<div class="row" id="eventos">
    <div class="span12">
        <div class="well"> 
            <div id="carEventos" class="carousel slide" data-interval="3000" data-pause="true">

                <ol class="carousel-indicators">
                    <li data-target="#carEventos" data-slide-to="0" class="active"></li>
                    <% (1..@shownEventDates.length/12).each do |i| %>
                      <li data-target="#carEventos" data-slide-to="<%=i%>" class=""></li>
                    <% end %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @shownEventDates.each_with_index do |eventDate,i|%>
                    <%if i%12 == 0%>
                      <%if i == 0%>
                        <div class="item active" id="div_item_<%=i%>">
                      <%else%>
                        <div class="item" id="div_item_<%=i%>">
                      <%end%>
                    <%end%>
                    <%if i%4 == 0%>
                      <div class="row-fluid home-events clearfix" id="div_row_<%=i%>">
                    <%end%>
                      <div class="col-xs-3 col-sm-3 col-md-3  text-center doc-item">
                        <div class="common-event animated fadeInUp clearfix ae-animation-fadeInUp">
                            <ul class="hover-list animate">
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-clock-o"> <%= eventDate.startDate %> </i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-map-marker"> <%= eventDate.local.address %></i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-tags"> <%= eventDate.event.category.name %></i></a></li>
                            </ul>
                            <a href="<%= event_path(eventDate.event)%>">
                            <figure>
                            <%if eventDate.event.image.first.present?%>
                            <img width="250" height="250" src="<%=eventDate.event.image.first.image.square.url%>" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%else%>
                            <img width="250" height="250" src="/imgs/404.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%end%>
                            </figure>
                            </a>
                            <div class="text-content">
                                <a href="<%= event_path(eventDate.event)%>"><h5><%= eventDate.event.name %></h5>
                                <h5><small><%= eventDate.event.promoter.name %></small></h5></a>
                                <% if @owner %>
                                <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
                              <% end %>
                              <% if @owner %>
                                <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
                              <% end %>
                         </div>
                       </div>
                    </div>
                    <%if i%4 == 0 && i!=0%>
                      </div>
                    <%end%>
                    <%if i%12 == 0 && i!=0%>
                      </div>
                    <%end%>
                  <%end%>
                </div><!--/carousel-inner-->

                <a class="left carousel-control" href="#carEventos" data-slide="prev">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carEventos" data-slide="next">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--/myCarousel-->
        </div><!--/well-->
    </div>
</div>
<% else %>
  <br>Não existe eventos activos<br>
<% end %>
<hr>

<br>
<h4 class="text-center">Eventos Inactivos</h4>
<hr>

<% if @hiddenEventDates.length != 0 %>
<div class="row" id="eventos">
    <div class="span12">
        <div class="well"> 
            <div id="carEventos" class="carousel slide" data-interval="3000" data-pause="true">

                <ol class="carousel-indicators">
                    <li data-target="#carEventos" data-slide-to="0" class="active"></li>
                    <% (1..@hiddenEventDates.length/12).each do |i| %>
                      <li data-target="#carEventos" data-slide-to="<%=i%>" class=""></li>
                    <% end %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @hiddenEventDates.each_with_index do |eventDate,i|%>
                    <%if i%12 == 0%>
                      <%if i == 0%>
                        <div class="item active" id="div_item_<%=i%>">
                      <%else%>
                        <div class="item" id="div_item_<%=i%>">
                      <%end%>
                    <%end%>
                    <%if i%4 == 0%>
                      <div class="row-fluid home-events clearfix" id="div_row_<%=i%>">
                    <%end%>
                      <div class="col-xs-3 col-sm-3 col-md-3  text-center doc-item">
                        <div class="common-event animated fadeInUp clearfix ae-animation-fadeInUp">
                            <ul class="hover-list animate">
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-clock-o"> <%= eventDate.startDate %> </i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-map-marker"> <%= eventDate.local.address %></i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-tags"> <%= eventDate.event.category.name %></i></a></li>
                            </ul>
                            <a href="<%= event_path(eventDate.event)%>">
                            <figure>
                            <%if eventDate.event.image.first.present?%>
                            <img width="250" height="250" src="<%=eventDate.event.image.first.image.square.url%>" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%else%>
                            <img width="250" height="250" src="/imgs/404.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%end%>
                            </figure>
                            </a>
                            <div class="text-content">
                                <a href="<%= event_path(eventDate.event)%>"><h5><%= eventDate.event.name %></h5>
                                <h5><small><%= eventDate.event.promoter.name %></small></h5></a>
                                <% if @owner %>
                                <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
                              <% end %>
                              <% if @owner %>
                                <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
                              <% end %>
                         </div>
                       </div>
                    </div>
                    <%if i%4 == 0 && i!=0%>
                      </div>
                    <%end%>
                    <%if i%12 == 0 && i!=0%>
                      </div>
                    <%end%>
                  <%end%>
                </div><!--/carousel-inner-->

                <a class="left carousel-control" href="#carEventos" data-slide="prev">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carEventos" data-slide="next">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--/myCarousel-->
        </div><!--/well-->
    </div>
</div>
<% else %>
  <br>Não existe eventos invisiveis<br>
<% end %>

<br><h4 class="text-center">Eventos Propostos por colaboradores</h4>
<hr>

<% if @proposedEventDates.length != 0 %>
<div class="row" id="eventos">
    <div class="span12">
        <div class="well"> 
            <div id="carEventos" class="carousel slide" data-interval="3000" data-pause="true">

                <ol class="carousel-indicators">
                    <li data-target="#carEventos" data-slide-to="0" class="active"></li>
                    <% (1..@proposedEventDates.length/12).each do |i| %>
                      <li data-target="#carEventos" data-slide-to="<%=i%>" class=""></li>
                    <% end %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @proposedEventDates.each_with_index do |eventDate,i|%>
                    <%if i%12 == 0%>
                      <%if i == 0%>
                        <div class="item active" id="div_item_<%=i%>">
                      <%else%>
                        <div class="item" id="div_item_<%=i%>">
                      <%end%>
                    <%end%>
                    <%if i%4 == 0%>
                      <div class="row-fluid home-events clearfix" id="div_row_<%=i%>">
                    <%end%>
                      <div class="col-xs-3 col-sm-3 col-md-3  text-center doc-item">
                        <div class="common-event animated fadeInUp clearfix ae-animation-fadeInUp">
                            <ul class="hover-list animate">
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-clock-o"> <%= eventDate.startDate %> </i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-map-marker"> <%= eventDate.local.address %></i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-tags"> <%= eventDate.event.category.name %></i></a></li>
                            </ul>
                            <a href="<%= event_path(eventDate.event)%>">
                            <figure>
                            <%if eventDate.event.image.first.present?%>
                            <img width="250" height="250" src="<%=eventDate.event.image.first.image.square.url%>" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%else%>
                            <img width="250" height="250" src="/imgs/404.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%end%>
                            </figure>
                            </a>
                            <div class="text-content">
                                <a href="<%= event_path(eventDate.event)%>"><h5><%= eventDate.event.name %></h5>
                                <h5><small><%= eventDate.event.promoter.name %></small></h5></a>
                                <% if @owner %>
                                <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
                              <% end %>
                              <% if @owner %>
                                <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
                              <% end %>
                         </div>
                       </div>
                    </div>
                    <%if i%4 == 0 && i!=0%>
                      </div>
                    <%end%>
                    <%if i%12 == 0 && i!=0%>
                      </div>
                    <%end%>
                  <%end%>
                </div><!--/carousel-inner-->

                <a class="left carousel-control" href="#carEventos" data-slide="prev">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carEventos" data-slide="next">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--/myCarousel-->
        </div><!--/well-->
    </div>
</div>

<% else %>
  <br>Não existe eventos propostos<br>
<% end %>

<br>
<h4 class="text-center">Eventos Antigos</h4>
<hr>

<% if @ObsoletedProposedEventDates.length != 0 %>
<div class="row" id="eventos">
    <div class="span12">
        <div class="well"> 
            <div id="carEventos" class="carousel slide" data-interval="3000" data-pause="true">

                <ol class="carousel-indicators">
                    <li data-target="#carEventos" data-slide-to="0" class="active"></li>
                    <% (1..@ObsoletedProposedEventDates.length/12).each do |i| %>
                      <li data-target="#carEventos" data-slide-to="<%=i%>" class=""></li>
                    <% end %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @ObsoletedProposedEventDates.each_with_index do |eventDate,i|%>
                    <%if i%12 == 0%>
                      <%if i == 0%>
                        <div class="item active" id="div_item_<%=i%>">
                      <%else%>
                        <div class="item" id="div_item_<%=i%>">
                      <%end%>
                    <%end%>
                    <%if i%4 == 0%>
                      <div class="row-fluid home-events clearfix" id="div_row_<%=i%>">
                    <%end%>
                      <div class="col-xs-3 col-sm-3 col-md-3  text-center doc-item">
                        <div class="common-event animated fadeInUp clearfix ae-animation-fadeInUp">
                            <ul class="hover-list animate">
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-clock-o"> <%= eventDate.startDate %> </i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-map-marker"> <%= eventDate.local.address %></i></a></li>
                                <li><a href="<%= event_path(eventDate.event)%>"><i class="fa fa-tags"> <%= eventDate.event.category.name %></i></a></li>
                            </ul>
                            <a href="<%= event_path(eventDate.event)%>">
                            <figure>
                            <%if eventDate.event.image.first.present?%>
                            <img width="250" height="250" src="<%=eventDate.event.image.first.image.square.url%>" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%else%>
                            <img width="250" height="250" src="/imgs/404.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="#">
                            <%end%>
                            </figure>
                            </a>
                            <div class="text-content">
                                <a href="<%= event_path(eventDate.event)%>"><h5><%= eventDate.event.name %></h5>
                                <h5><small><%= eventDate.event.promoter.name %></small></h5></a>
                                <% if @owner %>
                                <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
                              <% end %>
                              <% if @owner %>
                                <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
                              <% end %>
                         </div>
                       </div>
                    </div>
                    <%if i%4 == 0 && i!=0%>
                      </div>
                    <%end%>
                    <%if i%12 == 0 && i!=0%>
                      </div>
                    <%end%>
                  <%end%>
                </div><!--/carousel-inner-->

                <a class="left carousel-control" href="#carEventos" data-slide="prev">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carEventos" data-slide="next">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--/myCarousel-->
        </div><!--/well-->
    </div>
</div>
<% else %>
  <br>Não existe eventos propostos obsoletos<br>
<% end %>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->


