<p>
  <strong>=============== Promoter Info =======================</strong>
  <br>
  <strong>promoterID:</strong>
  <%= @user.promoter.promoterID %>
  <br>
  <strong>institution:</strong>
  <%= @user.promoter.institution %>
  <br>
  <strong>name:</strong>
  <%= link_to @user.promoter.name, @user.promoter %>
  <br>
  <strong>website:</strong>
  <%= link_to @user.promoter.website, @user.promoter.website %>
  <br>
  <strong>contact:</strong>
  <%= mail_to @user.promoter.contact, @user.promoter.contact %>
  <br><br>
  <%= link_to 'Editar Promotor', root_path+"promoter/"+@user.promoter.promoterID.to_s+"/edit" %>
  <br><%= link_to 'Mudar Credenciais', root_path+"users/edit" %><br>
</p>

<p>
  <strong>=============== <%= link_to "Inherited User", user_path(@promoter.user) %>  =======================</strong>
  <br>
  <strong>userID:</strong>
  <%= @user.userID %>
  <br>
  <strong>email:</strong>
  <%= mail_to @user.email, @user.email %>
  <br>
  <strong>encrypted_password:</strong>
  <%= @user.encrypted_password %>
  <br>
  <strong>password:</strong>
  <%= @user.password %>
  <br>
  <strong>admin:</strong>
  <%= @user.admin %>
  <br>
  <strong>reset_password_token:</strong>
  <%= @user.reset_password_token %>
  <br>
  <strong>reset_password_sent_at:</strong>
  <%= @user.reset_password_sent_at %>
  <br>
  <strong>remember_created_at:</strong>
  <%= @user.remember_created_at %>
  <br>
  <strong>sign_in_count:</strong>
  <%= @user.sign_in_count %>
  <br>
  <strong>current_sign_in_at:</strong>
  <%= @user.current_sign_in_at %>
  <br>
  <strong>last_sign_in_at:</strong>
  <%= @user.last_sign_in_at %>
  <br>
  <strong>current_sign_in_ip:</strong>
  <%= @user.current_sign_in_ip %>
  <br>
  <strong>last_sign_in_ip:</strong>
  <%= @user.last_sign_in_ip %>
  <br>
  <strong>provider:</strong>
  <%= @user.provider %>
  <br>
  <strong>uid:</strong>
  <%= @user.uid %>
</p>


<strong>=============== Colaboradores =======================</strong>

<% if @colaborators.length != 0 %>

  <br><br>
  <table border="1">
    <tr>
      <th>normalID</th>
      <th>colaborator Name</th>
      <th>promoterID</th>
      <th>promoter Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
    <% @colaborators.each do |colaborator| %>
      <tr>
        <td><%= colaborator.normalID %></td>
        <td><%= link_to (colaborator.normal.first_name+" "+colaborator.normal.last_name), colaborator_path(colaborator.normal) %></td>
        <td><%= colaborator.promoterID %></td>
        <td><%= link_to colaborator.promoter.name, promoter_path(colaborator.promoter) %></td>
        <td><%= button_to "Despromover", root_path+"colaborator/"+colaborator.normalID.to_s, data: { confirm: "Tem a certeza?", id: colaborator.normalID.to_s }, method: :delete %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <br>Não existem colaboradores<br>
<% end %>

<br><%= link_to 'Adicionar Colaborador', root_path + "colaborator/new?promoterID="+@user.promoter.promoterID.to_s %><br>

<br>
<strong>=============== Eventos Visiveis =======================</strong>

<% if @shownEventDates.length != 0 %>

  <br><br>
  <table border="1">
    <tr>
      <th>eventID</th>
      <th>name</th>
      <th>descrition</th>
      <th>priceTot</th>
      <th>averageRate</th>
      <th>category</th>
      <th>tags</th>
      <th>youtube</th>
      <th>spotify</th>
      <th>images</th>
      <th>start</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
    
    <% @shownEventDates.each do |eventDate| %>
      <tr>
        <td><%= eventDate.event.eventID %></td>
        <td><%= link_to eventDate.event.name, event_path(eventDate.event) %></td>
        <td><%= eventDate.event.descrition %></td>
        <td><%= eventDate.event.preco %></td>
        <td><%= eventDate.event.averageRate %></td>
        <td><%= eventDate.event.category.name %></td>
        <td>
          <% eventDate.event.tags.each do |tag| %>
              <%= tag.name %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.youtube.each do |youtube| %>
            <%= link_to youtube.videoID, youtube.videoID %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.spotify.each do |spotify| %>
            <%= link_to spotify.playListLink, spotify.playListLink %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.image.each do |image| %>
            <%= image.image%><br>
          <% end %>
        </td>
        <td>
          <%= eventDate.startDate %>
        </td>
        <td>
          <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <br>Não existe eventos visiveis<br>
<% end %>

<br>
<strong>=============== Eventos Invisiveis =======================</strong>

<% if @hiddenEventDates.length != 0 %>

  <br><br>
  <table border="1">
    <tr>
      <th>eventID</th>
      <th>name</th>
      <th>descrition</th>
      <th>priceTot</th>
      <th>averageRate</th>
      <th>category</th>
      <th>tags</th>
      <th>youtube</th>
      <th>spotify</th>
      <th>images</th>
      <th>start</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
    
    <% @hiddenEventDates.each do |eventDate| %>
      <tr>
        <td><%= eventDate.event.eventID %></td>
        <td><%= link_to eventDate.event.name, event_path(eventDate.event) %></td>
        <td><%= eventDate.event.descrition %></td>
        <td><%= eventDate.event.preco %></td>
        <td><%= eventDate.event.averageRate %></td>
        <td><%= eventDate.event.category.name %></td>
        <td>
          <% eventDate.event.tags.each do |tag| %>
              <%= tag.name %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.youtube.each do |youtube| %>
            <%= link_to youtube.videoID, youtube.videoID %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.spotify.each do |spotify| %>
            <%= link_to spotify.playListLink, spotify.playListLink %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.image.each do |image| %>
            <%= image.image%><br>
          <% end %>
        </td>
        <td>
          <%= eventDate.startDate %>
        </td>
        <td>
          <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
        </td>
        <td>
          <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <br>Não existe eventos invisiveis<br>
<% end %>

<br><br>
<strong>=============== Eventos Propostos =======================</strong>

<% if @proposedEventDates.length != 0 %>

  <br><br>
  <table border="1">
    <tr>
      <th>eventID</th>
      <th>name</th>
      <th>descrition</th>
      <th>priceTot</th>
      <th>averageRate</th>
      <th>category</th>
      <th>tags</th>
      <th>youtube</th>
      <th>spotify</th>
      <th>images</th>
      <th>start</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
    
    <% @proposedEventDates.each do |eventDate| %>
      <tr>
        <td><%= eventDate.event.eventID %></td>
        <td><%= link_to eventDate.event.name, event_path(eventDate.event) %></td>
        <td><%= eventDate.event.descrition %></td>
        <td><%= eventDate.event.preco %></td>
        <td><%= eventDate.event.averageRate %></td>
        <td><%= eventDate.event.category.name %></td>
        <td>
          <% eventDate.event.tags.each do |tag| %>
              <%= tag.name %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.youtube.each do |youtube| %>
            <%= link_to youtube.videoID, youtube.videoID %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.spotify.each do |spotify| %>
            <%= link_to spotify.playListLink, spotify.playListLink %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.image.each do |image| %>
            <%= image.image%><br>
          <% end %>
        </td>
        <td>
          <%= eventDate.startDate %>
        </td>
        <td>
          <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
        </td>
        <td>
          <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
        </td>
        <td>
          <%= button_to "Aceitar", root_path+"event/accept?id="+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?", id: eventDate.eventID.to_s}, method: :post %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <br>Não existe eventos propostos<br>
<% end %>

<br><br>
<strong>=============== Eventos Propostos Obsoletos =======================</strong>

<% if @ObsoletedProposedEventDates.length != 0 %>

  <br><br>
  <table border="1">
    <tr>
      <th>eventID</th>
      <th>name</th>
      <th>descrition</th>
      <th>priceTot</th>
      <th>averageRate</th>
      <th>category</th>
      <th>tags</th>
      <th>youtube</th>
      <th>spotify</th>
      <th>images</th>
      <th>start</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
    
    <% @ObsoletedProposedEventDates.each do |eventDate| %>
      <tr>
        <td><%= eventDate.event.eventID %></td>
        <td><%= link_to eventDate.event.name, event_path(eventDate.event) %></td>
        <td><%= eventDate.event.descrition %></td>
        <td><%= eventDate.event.preco %></td>
        <td><%= eventDate.event.averageRate %></td>
        <td><%= eventDate.event.category.name %></td>
        <td>
          <% eventDate.event.tags.each do |tag| %>
              <%= tag.name %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.youtube.each do |youtube| %>
            <%= link_to youtube.videoID, youtube.videoID %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.spotify.each do |spotify| %>
            <%= link_to spotify.playListLink, spotify.playListLink %><br>
          <% end %>
        </td>
        <td>
          <% eventDate.event.image.each do |image| %>
            <%= image.image%><br>
          <% end %>
        </td>
        <td>
          <%= eventDate.startDate %>
        </td>
        <td>
          <%= button_to "Editar", root_path+"event/"+eventDate.eventID.to_s+"/edit", data: nil, method: :get %>
        </td>
        <td>
          <%= button_to "Remover", root_path+"event/"+eventDate.eventID.to_s, data: { confirm: "Tem a certeza?" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <br>Não existe eventos propostos obsoletos<br>
<% end %>

<br><%= link_to 'Criar Evento', root_path+"event/new" %><br>