<p>
  <strong>=============== Promoter Info =======================</strong>
  <br>
  <strong>promoterID:</strong>
  <%= @user.promoter.promoterID %>
  <br>
  <strong>institution:</strong>
  <%= @user.promoter.institution %>
  <br>
  <strong>name:</strong>
  <%= @user.promoter.name %>
  <br>
  <strong>website:</strong>
  <%= @user.promoter.website %>
  <br>
  <strong>contact:</strong>
  <%= @user.promoter.contact %>
</p>

<p>
  <strong>=============== Inherited User =======================</strong>
  <br>
  <strong>userID:</strong>
  <%= @user.userID %>
  <br>
  <strong>email:</strong>
  <%= @user.email %>
  <br>
  <strong>encrypted_password:</strong>
  <%= @user.encrypted_password %>
  <br>
  <strong>password:</strong>
  <%= @user.password %>
  <br>
  <strong>admin:</strong>
  <%= @user.admin %>
  <br>
  <strong>reset_password_token:</strong>
  <%= @user.reset_password_token %>
  <br>
  <strong>reset_password_sent_at:</strong>
  <%= @user.reset_password_sent_at %>
  <br>
  <strong>remember_created_at:</strong>
  <%= @user.remember_created_at %>
  <br>
  <strong>sign_in_count:</strong>
  <%= @user.sign_in_count %>
  <br>
  <strong>current_sign_in_at:</strong>
  <%= @user.current_sign_in_at %>
  <br>
  <strong>last_sign_in_at:</strong>
  <%= @user.last_sign_in_at %>
  <br>
  <strong>current_sign_in_ip:</strong>
  <%= @user.current_sign_in_ip %>
  <br>
  <strong>last_sign_in_ip:</strong>
  <%= @user.last_sign_in_ip %>
  <br>
  <strong>provider:</strong>
  <%= @user.provider %>
  <br>
  <strong>uid:</strong>
  <%= @user.uid %>
</p>