<div class="container-fluid main-pages center" id="page-wrapper">

    <div class="box title2">
        <h2>Editar perfil de utilizador</h2>
    </div>

    <%= form_for @normal, :url => user_path(@user), :authenticity_token => true, :html => { :multipart => true }, method: :patch do |u| %>

        <% if @normal.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@normal.errors.count, "error") %> prohibited normal user from being edited:
              </h2>
              <ul>
                <% @normal.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          
                <h3 id="fotos">Fotos</h3>
                <hr>
           
            
            <% if @normal.user.uid == nil %>
                <div class="field">
                <label>Inserir fotografia</label>
                <br>
                 <div class="fileUpload btn">
                <%= u.file_field :image, :multiple => false, name: "image[image][]" %>
                </div>
            </div>
            <% end %>
            <br>
            <div class="field">
            <label>Inserir imagem de fundo do perfil</label>
            <br>
             <div class="fileUpload btn">
            <%= u.file_field :background, :multiple => false, name: "background[image][]" %>
        </div>
        </div>
        </div>

        <h3 id="fotos">Utilizador</h3>
                <hr>
<div class="row">
       <div class="col-md-6">
          <div class="form-group">
              <div class="input-group" >
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
            <%= text_field_tag :first_name, @normal.first_name, class: 'form-control', :placeholder => 'Nome' %>
        </div>
    </div>
</div>

      <div class="col-md-6">
            <div class="form-group">
            <%= text_field_tag :last_name, @normal.last_name, class: 'form-control', :placeholder => 'Apelido' %>
       
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="field">
            <% if @normal.gender != nil %>
                <label for="gender">Género</label>
                <% ['male','female'].each do |gender| %>
                    <% if @normal.gender.upcase == gender.upcase %>
                        <%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                    <% else %>
                        <%= radio_button_tag 'gender', gender, @gender == gender, :checked => false %>
                    <% end %>
                 <i class="fa fa-<%= gender %>"></i>
                <% end %>
            <% else %>
                <% [ 'male','female'].each do |gender| %>
                  <%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                   <i class="fa fa-<%= gender %>"></i>
                <% end %>
            <% end %>
        </div>
    </div>
        
    <div class="col-md-6" >
        <div class="field" style="float:right; padding-right:10px;">
        <%= link_to 'Mudar Credenciais', root_path+"users/edit"  %>
        </div>
    </div>
          
    </div>   
    <br>
    <div class="row">     
            <% if @normal.birthday != nil %>
                <div class="col-md-6">
                                             <div class="form_row">
                                            <i class="fa fa-birthday-cake"></i>
                <%=  u.date_select :birthday, order: [:day, :month, :year], start_year: Time.now.year-100, end_year:Time.now.year %>
                 </div>
                </div>
            <% else %>
                <div class="col-md-6">
                                             <div class="form_row">
                                            <i class="fa fa-birthday-cake"></i>
                <%=  date_select("normal", "birthday", order: [:day, :month, :year], start_year: Time.now.year-100, end_year:Time.now.year) %>
                </div>
                </div>
            <% end %>
        </div>
       
        

        <br><br>

        <%= u.submit 'Submeter', :class => 'btn btn-primary active', :id=> 'btn_promoter_user' %>
    <% end %>

    <br><br>
    <strong>
       
    </strong>
    <br><br>

</div>