<div class="jumbotron">

    <div class="regist_title">Editar perfil de utilizador</div>
    <br>

    <%= form_for @normal, :url => user_path(@user) , method: :patch do |u| %>

        <% if @normal.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@normal.errors.count, "error") %> prohibited normal user from being edited:
              </h2>
              <ul>
                <% @normal.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
            <strong>Nome</strong>
            <%= text_field_tag :first_name, @normal.first_name, class: 'form-control', :placeholder => 'Nome' %>
        </div>

        <div class="form-group">
            <strong>Apelido</strong>
            <%= text_field_tag :last_name, @normal.last_name, class: 'form-control', :placeholder => 'Apelido' %>
        </div>

        <div class="form_row">
            <label for="gender">Género:</label>
            <% ['male','female'].each do |gender| %>
                <% if @normal.gender.upcase == gender.upcase %>
                    <br><%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                <% else %>
                    <br><%= radio_button_tag 'gender', gender, @gender == gender, :checked => false %>
                <% end %>
              <%= gender.humanize %>
            <% end %>
        </div>

        <br><label>Data de nascimento:
        <%=  u.date_select :birthday, order: [:day, :month, :year], start_year: Time.now.year-100, end_year:Time.now.year %>
        </label><br>

        <%= u.submit 'Submeter', :class => 'btn btn-primary active' %>
    <% end %>

    <br><%= link_to 'Mudar Credenciais', root_path+"users/edit" %><br>

    <br><%= link_to "Back", :back %><br>
</div>