<div class="container-fluid main-pages center" id="page-wrapper">
    
         <div class="box title">

          <h2>Regista-te no Univento!</h2>
          <p>Queres ficar a par de todos os eventos na tua Academia?</p>

        </div>
        
        <%= form_for @user, :url => '/user' do |u| %>
       
        <div class="field">

            <div class="col-md-6">
              <div class="form-group">
              <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1"><i class="fa">@</i></span> 
                <%= u.email_field :email , :class => 'form-control', :placeholder => 'E-mail'%>
                 </div>
                <% if @user.errors[:email].any? %>
              <span class="error"><strong>
              <%= @user.errors[:email].first %>
              </strong></span>
            <% end %>
          </div>
           
          </div>

           <div class="col-md-6">
           <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
                <%= u.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
              </div>
                <% if @user.errors[:password].any? %>
                <span class="error"><strong>
              <%= @user.errors[:password].first %>
              </strong> </span>
            <% end %>
            </div>
          </div>

        </div>

        <div class="field">
          <div class="col-md-6">
          <div class="form-group">
              <div class="input-group" >
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                <%= text_field_tag :first_name,"", class: 'form-control',:placeholder => 'Primeiro Nome' %>
              </div>
                <% if @user.errors[:first_name].any? %>
                  <div class="error">
                  <%= @user.errors[:first_name].first %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
               
                <%= text_field_tag :last_name,"", class: 'form-control',:placeholder => 'Último Nome' %>
                 <% if @user.errors[:last_name].any? %>
                  <div class="error">
                  <%= @user.errors[:last_name].first %>
                  </div>
                <% end %>
            </div>
          </div>


        </div>


           
            

           <div class="field">

            <div class="col-md-6">
                <div class="input-group">
               
                <% [ 'male','female'].each do |gender| %>
                  <%= radio_button_tag 'gender', gender, @gender == gender, :checked => true %>
                 &nbsp; <i class="fa fa-<%= gender %>"></i>&nbsp;
                <% end %>
            </div>
          </div>
             <div class="col-md-6">
                                             <div class="form_row">
                                            <i class="fa fa-birthday-cake"></i>
                                                &nbsp;<%=  date_select("birthday", "birthday", order: [:day, :month, :year], start_year: Time.now.year-100, end_year:Time.now.year) %>
                                            </div>
            

            
                                       


            </div>
              </div>
            
            <div class="field">
            <%= u.submit 'Submeter', :class => 'btn btn-primary active' , :id=> 'btn_promoter_user' %>
          </div>
            </div>
        <% end %>    
</div>        
</div>
