<strong>
  <%= link_to 'Editar o meu perfil', root_path+"user/"+@user.userID.to_s+"/edit" %>
</strong>
<br><br>

<p>
  <strong>Foto:</strong>
  <%= @user.normal.photo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.normal != nil %>
  <p>
    <% if @user.uid != nil %>
      <img src="http://graph.facebook.com/<%=@user.uid%>/picture" class="img-responsive img-circle">
    <% else %>
      <% if @user.normal.gender.upcase == 'MALE' %>
        <img src=<%=root_path+"imgs/profiles/default/male.png"%> class="img-responsive img-circle">
      <% else %>
        <img src=<%=root_path+"imgs/profiles/default/female.png"%> class="img-responsive img-circle">
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= @user.normal.first_name + " " + @user.normal.last_name %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= @user.normal.gender %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= @user.normal.birthday %>
  </p>

  <% if user_signed_in? && current_user.userID.to_i == @user.userID.to_i %>
    <strong>------ <%= link_to "Alterar Preferencias", root_url+"user/preferences?id="+@user.userID.to_s %> ------</strong>
  <% else %>
    <strong>------ Preferencias ------</strong>
  <% end %>
  <p>
    <% if @tagsPrefs.length != 0 %>
      <strong>Tags:</strong><br>
      <% @tagsPrefs.each do |tag| %>
        <%= tag.tags.name %><br>
      <% end %>
    <% end %>
  </p>

  <p>
  <% if @categoriesPrefs.length != 0 %>
      <strong>Categorias:</strong><br>
      <% @categoriesPrefs.each do |category| %>
        <%= category.category.name %><br>
      <% end %>
    <% end %>
  </p>

  <p>
    <% if @nightEventsPrefs.length != 0 %>
        <strong>Prefere Eventos noturnos</strong><br>
    <% end %>
  </p>

  <strong>------------- Amigos -------------</strong>
  <% if user_signed_in? && current_user.userID.to_i == @user.userID.to_i && @friends.length != 0 %>
    <br> Tem <%= @friends.length %> amigo(s):
    <table>
      <% @friends.each do |normal| %>
        <tr>
          <td>
            <% if normal.user.uid != nil %>
              <img src="http://graph.facebook.com/<%=normal.user.uid%>/picture" class="img-responsive img-circle">
            <% else %>
              <% if normal.user.normal.gender.upcase == 'MALE' %>
                <img src=<%=root_path+"imgs/profiles/default/male.png"%> class="img-responsive img-circle">
              <% else %>
                <img src=<%=root_path+"imgs/profiles/default/female.png"%> class="img-responsive img-circle">
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to normal.first_name + " " + normal.last_name, user_path(normal) %>
          </td>
          <td>
            <%= button_to "Anular", root_path+"user/deletefriend", data: { confirm: "Tem a certeza?"}, params: {id1: @user.userID.to_s, id2: normal.normalID.to_s}, method: :post %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <br> <%= @friends.length %> amigos <br>
  <% end %>

  <br>

  <% if user_signed_in? && current_user.userID.to_i == @user.userID.to_i && @friendRequestsReceived.length != 0 %>
  <strong>------ Pedidos de Amizade Recebidos ------</strong>
    <table>
      <% @friendRequestsReceived.each do |normal| %>
        <tr>
          <td>
            <% if normal.user.uid != nil %>
              <img src="http://graph.facebook.com/<%=normal.user.uid%>/picture" class="img-responsive img-circle">
            <% else %>
              <% if normal.user.normal.gender.upcase == 'MALE' %>
                <img src=<%=root_path+"imgs/profiles/default/male.png"%> class="img-responsive img-circle">
              <% else %>
                <img src=<%=root_path+"imgs/profiles/default/female.png"%> class="img-responsive img-circle">
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to normal.first_name + " " + normal.last_name, user_path(normal) %>
          </td>
          <td>
          <%= button_to "Aceitar", root_path+"user/acceptfriend", data: { confirm: "Tem a certeza?"}, params: {receiver: @user.userID.to_s, sender: normal.normalID.to_s}, method: :post %>
          </td>
          <td>
          <%= button_to "Rejeitar", root_path+"user/rejectfriend", data: { confirm: "Tem a certeza?"}, params: { receiver: @user.userID.to_s, sender: normal.normalID.to_s}, method: :post %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br>

  <% if user_signed_in? && current_user.userID.to_i == @user.userID.to_i && @friendRequestsSended.length != 0 %>
    <strong>------ Pedidos de Amizade Enviados ------</strong>
    <table>
      <% @friendRequestsSended.each do |normal| %>
        <tr>
          <td>
            <% if normal.user.uid != nil %>
              <img src="http://graph.facebook.com/<%=normal.user.uid%>/picture" class="img-responsive img-circle">
            <% else %>
              <% if normal.user.normal.gender.upcase == 'MALE' %>
                <img src=<%=root_path+"imgs/profiles/default/male.png"%> class="img-responsive img-circle">
              <% else %>
                <img src=<%=root_path+"imgs/profiles/default/female.png"%> class="img-responsive img-circle">
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to normal.first_name + " " + normal.last_name, user_path(normal) %>
          </td>
          <td>
            <%= button_to "Anular", root_path+"user/cancelfriend", data: { confirm: "Tem a certeza?"}, params: {sender: @user.userID.to_s, receiver: normal.normalID.to_s}, method: :post %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if user_signed_in? && @commonFriends.length != 0 %>
    <strong>------ Amigos em Comum ------</strong>
    <br> Tem <%= @commonFriends.length %> amigo(s) em comum:
    <table>
      <% @commonFriends.each do |normal| %>
        <tr>
          <td>
            <% if normal.user.uid != nil %>
              <img src="http://graph.facebook.com/<%=normal.user.uid%>/picture" class="img-responsive img-circle">
            <% else %>
              <% if normal.user.normal.gender.upcase == 'MALE' %>
                <img src=<%=root_path+"imgs/profiles/default/male.png"%> class="img-responsive img-circle">
              <% else %>
                <img src=<%=root_path+"imgs/profiles/default/female.png"%> class="img-responsive img-circle">
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to normal.first_name + " " + normal.last_name, user_path(normal) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <strong>
    <br> <%= link_to "Pesquisar Amigos", search_user_index_path %> <br><br>
  </strong>

  <% if user_signed_in? && current_user.userID.to_i != @user.userID.to_i && !@alreadyFriend %>
    <%= button_to "Adicionar como amigo", root_path+"user/requestfriend", data: { confirm: "Tem a certeza?"}, params: {sender: current_user.userID.to_s, receiver: @user.userID.to_s}, method: :post %>
  <% elsif user_signed_in? && current_user.userID.to_i != @user.userID.to_i && @alreadyFriend %>
    <% if @maybeFriend%>
      <br> O teu pedido de amizade está pendente <br>
    <% else %>
      <br> Já és amigo(a) de <%= @user.normal.first_name + " " + @user.normal.last_name %> <br>
    <% end %>
  <% end %>

  <% if (user_signed_in? && current_user.userID.to_i == @user.userID.to_i) or (user_signed_in? && current_user.userID.to_i != @user.userID.to_i && @alreadyFriend && !@maybeFriend) %>
    <strong>------ Eventos que já frequentou ------</strong>
    <table>
      <% @assistedEvents.each do |assistedEvent| %>
        <% if assistedEvent.image.first.present? %>
            <a href="<%= event_path(assistedEvent)%>" class="thumbnail">
                <%=image_tag assistedEvent.image.first.image , :class => "img-responsive"%>
            </a>
        <% else %>
            <%= link_to assistedEvent.name, event_path(assistedEvent), :class => "thumbnail" %>
        <% end %>
      <% end %>
    </table>
  <% end %>

<% end %>

<br>
<p>
  <% if @colaborator != nil %>
    <strong>
      Utilizador é 
      <%= link_to "Colaborador", colaborator_path(@colaborator.normal) %> do promotor de eventos:
      <%= link_to @colaborator.promoter.name, promoter_path(@colaborator.promoter) %>
    </strong>
  <% end %>
</p>

<br>
<p>
  <% if @promoter != nil %>
    <strong>
      Utilizador é o promotor de eventos: 
      <%= link_to @promoter.name, promoter_path(@promoter) %>
    </strong>
  <% end %>
</p>

<% if user_signed_in? && current_user.admin %>
  
  <%= link_to 'Banir Utilizador',  user_path(params[:id]),  method: :delete, data: { confirm: 'Are you sure?' } %>
  <br><br>

  <p>
    <strong>=============== User Info =======================</strong>
    <br>
    <strong>userID:</strong>
    <%= @user.userID %>
    <br>
    <strong>email:</strong>
    <%= mail_to @user.email, @user.email %>
    <br>
    <strong>encrypted_password:</strong>
    <%= @user.encrypted_password %>
    <br>
    <strong>password:</strong>
    <%= @user.password %>
    <br>
    <strong>admin:</strong>
    <%= @user.admin %>
    <br>
    <strong>reset_password_token:</strong>
    <%= @user.reset_password_token %>
    <br>
    <strong>reset_password_sent_at:</strong>
    <%= @user.reset_password_sent_at %>
    <br>
    <strong>remember_created_at:</strong>
    <%= @user.remember_created_at %>
    <br>
    <strong>sign_in_count:</strong>
    <%= @user.sign_in_count %>
    <br>
    <strong>current_sign_in_at:</strong>
    <%= @user.current_sign_in_at %>
    <br>
    <strong>last_sign_in_at:</strong>
    <%= @user.last_sign_in_at %>
    <br>
    <strong>current_sign_in_ip:</strong>
    <%= @user.current_sign_in_ip %>
    <br>
    <strong>last_sign_in_ip:</strong>
    <%= @user.last_sign_in_ip %>
    <br>
    <strong>provider:</strong>
    <%= @user.provider %>
    <br>
    <strong>uid:</strong>
    <%= @user.uid %>
    <br>
    <strong>banned:</strong>
    <%= @user.banned %>
  </p>

<%end%>