<!DOCTYPE html> <html>
<head>
  <title>Univento</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,300italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

    <link href="/style.css" rel="stylesheet">
    <link href="/facebook.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,300italic' rel='stylesheet' type='text/css'>
    <!--<script src="lib/angular/angular.js"></script>-->
    <!--<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>-->
    <!--<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
    <link rel="shortcut icon" href="/imgs/favicon/univento-favicon-v2.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

<%= render 'homepage/topMenu' %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:sucess] %>
  <p class="alert alert-success"><%= flash[:sucess] %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>



</body>

<footer class="footer">
        <div class="container">
        <p class="text-muted text-center">UNIVENTO, developed by MIEIC students</p>
        </div>
    </footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>

<script type="text/javascript">
  $(ocultaAlerts);
  function ocultaAlerts()
  {
    setTimeout(ocultaAlerts2, 5000) //wait ten seconds before continuing
  }

  function ocultaAlerts2()
  {
     $(".alert").fadeOut(1000);
  }
</script>

</html>
